<div class="container">
  <h1>Add Employee</h1>
  <form #formRef="ngForm" (ngSubmit)="onSubmit(formRef.value)">
    <div class="form-group">
      <label for="name">Employee Name</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name" required minlength="3" #nameRef="ngModel">
      <div *ngIf="nameRef.invalid && (nameRef.dirty || nameRef.touched)" class="alert alert-danger">
        <div *ngIf="nameRef.errors.required">
          Name is required.
        </div>
        <div *ngIf="nameRef.errors.minlength">
          Name must be at least 3 characters long.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="location">Location</label>
      <select class="form-control" name="location" [ngModel]="locations[0]">
        <option *ngFor="let location of locations" [value]="location">
          {{location}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" email class="form-control" id="email" name="email" [(ngModel)]="email" required #emailRef="ngModel">
      <div *ngIf="emailRef.invalid && (emailRef.dirty || emailRef.touched)" class="alert alert-danger">
        <div *ngIf="emailRef.errors.required">
          Email is required.
        </div>
        <div *ngIf="emailRef.errors.email">
          Email is invalid.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="mobile">Mobile</label>
      <input type="text" class="form-control" id="mobile" name="mobile" [(ngModel)]="mobile" required #mobileRef="ngModel">
      <div *ngIf="mobileRef.invalid && (mobileRef.dirty || mobileRef.touched)" class="alert alert-danger">
        <div *ngIf="mobileRef.errors.required">
          Mobile is required.
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-info" [disabled]="formRef.invalid">Submit</button>
  </form>
</div>