<div class="container">
  <h1>Edit Employee</h1>
  <form #formRef="ngForm" (ngSubmit)="onSubmit(formRef.value)">
    <div class="form-group">
      <label for="name">Employee Name</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="employee.name" required minlength="3">
    </div>
    <div class="form-group">
      <label for="location">Location</label>
      <select class="form-control" name="location" [ngModel]="employee.location">
        <option *ngFor="let location of locations" [value]="location">
          {{location}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email" [(ngModel)]="employee.email" required>
    </div>
    <div class="form-group">
      <label for="mobile">Mobile</label>
      <input type="text" class="form-control" id="mobile" name="mobile" [(ngModel)]="employee.mobile" required>
    </div>
    <button type="submit" class="btn btn-info">Submit</button>
  </form>
</div>
