<div>
    <h2>Employee Details</h2>
    <table style="margin-left:20px">
      <tr>
        <td>ID:</td>
        <td>{{employee.id}}</td>
      </tr>
      <tr>
        <td>Name:</td>
        <td>{{employee.name}}</td>
      </tr>
      <tr>
        <td>Location:</td>
        <td>{{employee.location}}</td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>{{employee.email}}</td>
      </tr>
      <tr>
        <td>Mobile:</td>
        <td>{{employee.mobile}}</td>
      </tr>
    </table>
    <button (click)="goBack()">Back</button>
</div>
